@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES ------------------------------------ */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #fff;

  --primary-color: #ff3030;
  --secondary-text-color: #ddd;
}

.abutton {
  display: inline-block;
  padding: 1.2rem 2.5rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  color: #fff;
  text-decoration: none;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.abutton:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.header2 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

/* SPECIFIC STYLES ---------------------------------- */

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.topnavitem {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.topnavitem:hover {
  color: var(--primary-color);
}

.herosection {
  display: flex;
  height: calc(100vh - 5rem);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: "lobster", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--secondary-text-color);
}

.hero-link {
  margin-top: 4rem;
}

.container {
  display: grid;
  gap: 2rem;
  max-width: 85%;
  margin: 0 auto;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-text > .header2 {
  margin: 2rem 0 1rem 0;
}

.about-text > p {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.about-link {
  margin: 2rem 0 1rem 0;
  width: fit-content;
}

.about-pics {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  object-fit: cover;
}

.about-pics-single {
  min-width: 50%;
}

.about-pics-double {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.openhours-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/info.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3rem 0;
  padding: 2rem 0;
}

.openhours-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 85%;
}

.openhours-content > .header2 {
  margin: 0 0 1rem 0;
}

.opening-row {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: 0 0 0.25rem 0;
}

.day {
  color: var(--secondary-text-color);
}

/* MEDIA QUERIES ------------------------------------- */
/* Tablets */
@media screen and (min-width: 600px) {
  .topnav {
    gap: 2rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .herolink {
    padding: 1.2rem 2.5rem;
  }
  .about-text > p {
    font-size: 1rem;
  }

  .openhours {
    margin: 4rem 0;
  }
}

/* Normal Computer */
@media screen and (min-width: 1000px) {
  .topnav {
    gap: 4rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .header2 {
    font-size: 2rem;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 6rem;
    align-items: center;
  }

  .about-pics,
  .about-pics-double {
    gap: 1rem;
  }
  .openhours-wrapper {
    margin: 8rem 0;
    padding: 6rem 0;
  }
  -content > .header2 {
    margin-bottom: 2rem;
  }

  .opening-row {
    width: 20rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
