@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1a1a1a;
  color: #fff;
}

#herosection {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./img/hero.jpg"); /*comment out for alternativ solution*/
  background-color: #000000b2; /*..., too*/
  background-blend-mode: multiply; /*..., too*/
  /*
    alternativ solution:
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7),url(./img/hero.jpg);
  */
}

.title {
  font-family: "lobster", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 1rem;
}

.subtitle {
  color: #ddd;
}

.herolink {
  background-color: #ff3030;
  color: #fff;
  width: fit-content;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  margin-top: 4rem;
  border: 1px solid #ff3030;
}

.herolink:hover {
  background-color: transparent;
  color: #ff3030;
  transition: background-color 0.2s, color 0.2s;
}

/* MEDIA QUERIES */
/* Tablets */
@media screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
  .herolink {
    padding: 1.2rem 2.5rem;
  }
}

/* Normal Computer */
@media screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}
