* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background-color: #1a1a1a;
  color: #fff;
}

#herosection {
  display: flex;
  height: 100vh;
  background-image: url("./img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: #000000b2;
  background-blend-mode: multiply;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "lobster", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;

  margin-bottom: 1rem;
}

.subtitle {
  color: #ddd;
}

.herolink {
  background-color: #ff3030;
  color: #ddd;
  width: fit-content;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  margin-top: 4rem;
  border: 1px solid #ff3030;
}

.herolink:hover {
  background-color: #00000019;
  color: #ff3030;
  transition: background-color 0.2s, color 0.2s;
}
